{% extends 'base/base.html' %}
{% block content %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand  me-0 px-3 justify-content-start" href="{% url 'footstep:index' %}">Footstep</a>       
    <!-- 토글 상속 블럭 ↓ -->
    {% block tog %}
    {% endblock %}
    <!-- 네비 아이템 ↓ -->
    {% include 'navitem.html' %}
</header>
  
<div class="container-fluid">
    <!-- 메인컨텐츠 or 개인컨텐츠 상속 블럭 ↓ -->
    {% block main_content %}
    {% endblock %}
</div>
{% endblock %}