{% extends 'base/main_base.html' %}
{% block tog %} <!-- 토글 ↓ -->
<button class="navbar-toggler d-md-none collapsed m-1" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#sidebarMenu" 
        aria-controls="sidebarMenu" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        >
    <span class="navbar-toggler-icon"></span>
</button>
{% endblock %}

{% block main_content %}
<div class="row vh-100"> 
    <!-- 사이드 바 ↓ -->
    {% include 'sidebar.html' %}

    <main class="col-md-8 ms-sm-auto col-lg-9 px-md-4">
        <div class="p-2 text-break d-flex flex-column min-vh-100">
            <!-- 개인 컨텐츠 ↓ -->
            {% block personal_content %}
            {% endblock %}
            <form id="getForm" method="get">
                <input type="hidden" id="getpage" name="page" value="{{ page }}">
            </form>
            <footer class="mt-auto">
                <hr>
                <small class="text-secondary">
                    (C)2023.Footstep All rights reserved. | 
                    <strong><a href="{% url 'common:privacy_policy' %}" class="text-decoration-none">개인정보취급방침</a></strong>
                </small>
            </footer>
        </div>
    </main>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('getpage').value = this.dataset.page;
        document.getElementById('getForm').submit();
    });
});

const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}