{% extends 'base/personal_base.html' %}
{% load tag_filter %}
{% block personal_content %}

{% include 'errors.html' %}
<h1 class="border-bottom p-2">
    {{ category.category_sub }}
    ({{ posts.paginator.count }})
    {% include 'footstep/category_modify.html' %}
</h1>
{% if posts.paginator.count != 0 %}
    {% for post in posts %}
        {% with img=thumbnail_img|list_index:forloop.counter0 %}
        {% include 'footstep/post_card.html' %} <!-- 포스트 카드 -->
        {% endwith %}
    {% endfor %}
    {% include 'pagination.html' %} <!-- 페이징 -->
{% else %}
<h4 class="text-center">
    게시글이 없습니다.
    {% if user.username == owner.username %}
    <p class="py-1">삭제하시겠습니까?</p>
    <p>
        <a href="javascript:void(0)" class="delete btn btn-primary"
           data-uri="{% url 'footstep:category_delete' owner.username category.category_sub %}">삭제</a>
    </p>
    {% endif %}
</h4>
{% endif %}
    
{% endblock %}