{% extends 'base/personal_base.html' %}
{% block personal_content %}

<h1 class="p-2">
    {{ post.subject }}
    {% if owner.username == user.username %}
    <span>
        <a class="btn btn-sm btn-primary" href="{% url 'footstep:post_modify' owner.username post.subject %}">수정</a>
    </span>
    {% endif %}
</h1>
<hr>
{{ post.content }}
<hr>
<p>작성자: {{ post.author.username }}</p>
<p>작성일시: {{ post.create_date }}</p>
<p>카테고리: {{ post.category.category_sub }}</p>
{% if post.modify_date %}
{{ post.modify_date }}
{% endif %}
<hr>

    
{% endblock %}