{% extends 'base/personal_base.html' %}
{% block personal_content %}

<!-- 포스트헤더 ↓ -->
<h1 class="p-2">
    {{ post.subject }}
    {% if owner.username == user.username %}
    <span>
        <a class="btn btn-sm btn-primary" href="{% url 'footstep:post_modify' owner.username post.subject %}">수정</a>
    </span>
    <span>
        <a href="javascript:void(0)" class="delete btn btn-sm btn-primary"
           data-uri="{% url 'footstep:post_delete' owner.username post.subject %}">삭제</a>
    </span>
    {% endif %}
</h1>
<p class="px-2">
    {{ post.category }} &nbsp; | &nbsp;
    {{ post.author }} &nbsp; | &nbsp;
    {{ post.create_date }}
    {% if post.modify_date %}&nbsp; | &nbsp; 수정: {{ post.modify_date }}{% endif %}
</p>
<!-- 내용 ↓ -->
<div class="card p-3 overflow-auto">
    <h5 class="fw-bold">{{ post.subtitle }}</h5>
    <br>
    {{ post.content|safe }}
</div>
<!-- 버튼 ↓ -->
<div class="pt-3 text-center">
    <a href="javascript:void(0)" data-uri="{% url 'footstep:post_recommend' owner.username post.subject %}"
        class="recommend btn btn-lg btn-primary">
        {% include 'icon/recommend.html' %}
        <span class="m-1">{{ post.recommend.count }}</span>
    </a>
    <span>
        <a class="btn btn-lg btn-primary" href="{% url 'footstep:comment_create' owner.username post.subject %}">댓글달기</a>
    </span>
</div>
<hr>
<!-- 댓글 폼 ↓ -->
{% block comment_form %}
{% endblock %}
{% include 'errors.html' %}
<!-- 댓글 ↓ -->
<h4>댓글: {{ comments.paginator.count }}개</h4>
{% if comments %}
    {% include 'footstep/comment_card.html' %}
    {% include 'pagination.html' %}
{% else %}
    <span>댓글이 없습니다.</span>
{% endif %}

{% endblock %}


{% block script2 %}
<script>
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("추천하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}