{% extends "base/main_base.html" %}
{% block main_content %}
<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="fw-bold mb-0">로그인</h2>
                <a href="/">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </a>
            </div>
            
            <div class="modal-body p-5 pt-0">
                <form method="post">
                    {% csrf_token %}
                    {% include "form_errors.html" %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-4" id="floatingInput username" placeholder="name@example.com" name="username"
                               value="{{ form.username.value|default_if_none:'' }}">
                        <label for="floatingInput">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="floatingPassword password" placeholder="Password" name="password"
                               value="{{ form.password.value|default_if_none:'' }}">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}