{% extends 'base/main_base.html' %}
{% block main_content %}
<!-- 비밀번호 변경 ↓ -->
<div class="p-5">
    <ul class="card">
        <h5 class="p-2">규칙</h5>
        <li class="p-1">다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
        <li class="p-1">비밀번호는 최소 8자 이상이어야 합니다.</li>
        <li class="p-1">통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
        <li class="p-1">숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
    </ul>
    <form method="post">
        {% csrf_token %}
        {% include 'form_errors.html' %}
        <div class="mb-3 shadow-sm">
            <label for="old_password">기존 비밀번호</label>
            <input type="password" class="form-control" name="old_password" id="old_password" value="{{ form.old_password.value|default_if_none:'' }}">
        </div>
        <div class="mb-3 shadow-sm">
            <label for="new_password1">새 비밀번호</label>
            <input type="password" class="form-control" name="new_password1" id="new_password1" value="{{ form.new_password1.value|default_if_none:'' }}">
        </div>
        <div class="mb-3 shadow-sm">
            <label for="new_password2">새 비밀번호 (확인)</label>
            <input type="password" class="form-control" name="new_password2" id="new_password2" value="{{ form.new_password2.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">변경</button>
    </form>
</div>

{% endblock %}