{% extends 'base/main_base.html' %}
{% load i18n static %}
{% block main_content %}

<div class="modal position-static d-block py-5">
    <div class="modal-dialog">
        <div class="modal-content shadow">
            <div class="modal-body p-3">
                <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
                <p><a class="btn btn-primary" href="{% url 'common:login' %}">로그인</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}