{% extends 'base/main_base.html' %}
{% load i18n static %}
{% block main_content %}

<div class="modal position-static d-block py-5">
    <div class="modal-dialog">
        <div class="modal-content shadow">
            <div class="modal-header p-4 pb-4 border-bottom-0">
                <h3 class="fw-bold">아이디/비밀번호 찾기</h3>
            </div>
            <div class="modal-body p-3 pt-0">
                <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
                <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-email">
                        {% if form.email.errors %}
                        <div class="alert alert-danger">
                            {{ form.email.errors }}
                        </div>
                        {% endif %}
                        <label class="py-2" for="id_email">{% translate 'Email address' %}</label><br>
                        <div class="py-2">
                            {{ form.email }}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="{% translate 'Reset my password' %}">
                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}