{% extends 'base/main_base.html' %}
{% load i18n static %}
{% block main_content %}

<div class="modal position-static d-block py-5">
    <div class="modal-dialog">
        <div class="modal-content shadow">
            <div class="modal-body p-3">
                {% if validlink %}
                <h4>비밀번호 변경</h4>
                <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    {% if form.new_password1.errors %}<div class="alert alert-danger">{{ form.new_password1.errors }}</div>{% endif %}
                    {% if form.new_password2.errors %}<div class="alert alert-danger">{{ form.new_password2.errors }}</div>{% endif %}
                    <div class="pb-3">
                        <label for="id_new_password1">{% translate 'New password:' %}</label><br>
                        {{ form.new_password1 }}
                    </div>
                    <div class="pb-3">
                        <label for="id_new_password2">{% translate 'Confirm password:' %}</label><br>
                        {{ form.new_password2 }}
                    </div>
                    <input class="btn btn-primary" type="submit" value="{% translate 'Change my password' %}">
                </fieldset>
                </form>
                {% else %}
                <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}