{% extends "base/main_base.html" %}
{% block main_content %}
<div class="p-3">
<div class="card">
    <div class="card-body p-3">
        <h4>개인정보취급방침</h4><hr>
        <p>
            footstep.kro.kr (이하 'footstep')은 
            「개인정보 보호법」 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 
            다음과 같이 개인정보 처리방침을 수립·공개합니다. <br>
            <br>
            ○ 이 개인정보처리방침은 2023년 2월 12부터 적용됩니다
        </p>

        <p>
            <strong>
                제1조(개인정보의 처리 목적)<br>
                footstep.kro.kr (이하 'footstep')은 다음의 목적을 위하여 개인정보를 처리합니다.
                처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않습니다.
            </strong><br>
            <ul>
                - 회원가입 및 관리 -
                <li>컨텐츠 제공</li>
                <li>회원자격 유지·관리</li>
                <li>서비스 부정이용 방지</li>
            </ul>
        </p>

        <p>
            <strong>제2조(개인정보의 처리 및 보유 기간)</strong><br>
            ① footstep은 정보주체로부터 회원가입시에 개인정보를 처리·보유합니다. <br>
            ② 각각의 개인정보는 개인정보 수집 및 이용목적이 달성된 후에는 예외 없이 해당 정보를 지체 없이 파기합니다.
        </p>

        <p>
            <strong>제3조(처리하는 개인정보의 항목)</strong><br>
            footstep은 다음의 개인정보 항목을 처리하고 있습니다.
            <ul>
                <li>로그인ID</li>
                <li>비밀번호</li>
                <li>이메일</li>
            </ul>
        </p>

        <p>
            <strong>제4조(개인정보의 파기절차 및 파기방법)</strong><br>
            ① footstep은 개인정보 처리목적 달성 후 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.<br>
            ② 개인정보 파기의 절차 및 방법은 다음과 같습니다.
            <ul>
                <li>
                    파기절차:<br>
                    footstep은 파기 사유(회원탈퇴)가 발생한 개인정보를 선정하고, 정보주체의 확인을 받아 개인정보를 파기합니다.
                </li>
                <li>
                    파기방법:<br>
                    전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 파기합니다.
                </li>
            </ul>
        </p>

        <p>
            <strong>제5조(정보주체와 법정대리인의 권리·의무 및 그 행사방법에 관한 사항)</strong><br>
            ① 정보주체는 footstep에 대해 언제든지 개인정보 열람·정정·삭제 등의 권리를 행사할 수 있습니다.<br>
            ② 제1항에 따른 권리 행사는footstep에 대해 '내정보'항목을 클릭해 이용하시거나, 혹은 서면, 이메일등을 통하여 하실 수 있으며 
            footstep은 이에 대해 지체 없이 조치하겠습니다.<br>
            ③ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다.<br>
            ④ footstep은 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.<br>
            ⑤ 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다.<br>
            ⑥ footstep은 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 
            “footstep에서 수집하는 개인정보의 처리 및 보유 기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
        </p>

        <p>
            <strong>
                제6조(개인정보의 안전성 확보조치에 관한 사항)<br>
                footstep은 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
            </strong><br>
            <ul>
                <li>개인정보 취급 인원의 최소화: 개인정보를 취급하는 인원을 최소화 합니다.</li>
                <li>개인정보의 암호화: 이용자의 비밀번호는 암호화 되어 저장 및 관리되고 있습니다.</li>
                <li>개인정보에 대한 접근 제한: 개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 조정을 통하여 개인정보에 대한 접근을 통제합니다.</li>
            </ul>
        </p>

        <p>
            <strong>제7조(개인정보를 자동으로 수집하는 장치의 설치·운영 및 그 거부에 관한 사항)</strong><br>
            footstep은 정보주체의 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용하지 않습니다.
        </p>

        <p>
            <strong>제8조(개인정보 보호책임자에 관한 사항)</strong><br>
            footstep은 개인정보 처리와 관련한 정보주체의 문제해결 등을 위하여 아래와 같이 개인정보 관리책임자를 지정합니다.
            <ul>
                개인정보 관리책임자
                <li>성명: 최승호</li>
                <li>이메일: aabb5389@naver.com</li>
            </ul>
        </p>

        <p>
            <strong>제9조(정보주체의 권익침해에 대한 구제방법)</strong><br>
            정보주체는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다. 
            이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.
            <ul>
                <li>개인정보분쟁조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)</li>
                <li>개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)</li>
                <li>대검찰청 : (국번없이) 1301 (www.spo.go.kr)</li>
                <li>경찰청 : (국번없이) 182 (ecrm.cyber.go.kr)</li>
            </ul>
            「개인정보보호법」제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제), 
            제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대 하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 
            권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.<br>
            <br>
            ※ 행정심판에 대해 자세한 사항은 중앙행정심판위원회(www.simpan.go.kr) 홈페이지를 참고하시기 바랍니다.
        </p>

        <p>
            <strong>제10조(개인정보 처리방침 변경)</strong><br>
            ① 이 개인정보처리방침은 2023년 2월 12부터 적용됩니다.<br>
            ② 이전의 개인정보 처리방침은 아래에서 확인하실 수 있습니다.
            <ul>
                변경사항 없음
            </ul>
        </p>
    </div>
</div>
</div>
{% endblock %}