{% extends 'base/main_base.html' %}
{% block main_content %}
<!-- 프로필 변경 폼 ↓ -->
<div class="p-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'form_errors.html' %}
        <div class="mb-3">
            <label for="username">ID</label>
            <input type="text" class="form-control shadow-sm" name="username" id="username"
                value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="email" class="form-control shadow-sm" name="email" id="email"
                value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="nickname">닉네임 (선택사항, 설정시 20자 이하)</label>
            <input type="text" class="form-control shadow-sm" name="nickname" id="nickname" maxlength='20'
                value="{{ pform.nickname.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="blogname">블로그 이름 (선택사항, 설정시 50자 이하)</label>
            <input type="text" class="form-control shadow-sm" name="blogname" id="blogname" maxlength='50'
                value="{{ pform.blogname.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="introduce">한줄소개 (선택사항, 설정시 50자 이하)</label>
            <input type="text" class="form-control shadow-sm" name="introduce" id="introduce" maxlength='50'
                value="{{ pform.introduce.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="profile_img" class="mb-2">프로필 사진 (선택사항)</label><br>
            {% if user.profile.profile_img %}
            <small class="d-block">현재 프로필 사진</small>
            <img src="{{ user.profile.profile_img.url }}" alt="No image" style="width: 250px; height: 250px;">
            <div class="my-2">
                <input type="checkbox" name="cb" id="cb" onclick="check(this)">
                <label for="check">프로필 사진 삭제</label>
            </div>
            사진 변경
            {% endif %}
            <input type="file" class="form-control shadow-sm" name="profile_img" id="profile_img">
        </div>
        
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
<script>
function check(checkbox){
    const imgfield = document.getElementById('profile_img');
    imgfield.disabled = checkbox.checked ? true : false;
}
</script>
    
{% endblock %}