{% extends 'base/main_base.html' %}
{% block main_content %}

<div class="p-5" style="height: 80vh;">
    {% include 'errors.html' %}
    <h1 class="border-bottom border-secondary p-3">
        내정보
        <span>
            <a class="btn btn-primary" href="{% url 'common:profile_modify' %}">프로필 수정</a>
        </span>
        <span>
            <a class="btn btn-primary" href="{% url 'common:password_change' %}" >비밀번호 변경</a>
        </span>
        <!-- 회원탈퇴 ↓ -->
        {% include 'common/modal.html' %} 
    </h1>
    <p>{{ user.username }}</p>
    <p>{{ user.email }}</p>

    {% if user.profile.nickname %}
    <p>{{ user.profile.nickname }}</p>
    {% else %}
    <p>닉네임이 설정되어있지 않습니다</p>
    {% endif %}

    {% if user.profile.blogname %}
    <p>{{ user.profile.blogname }}</p>
    {% else %}
    <p>블로그 이름이 설정되어있지 않습니다</p>
    {% endif %}
</div>
<hr>
<small class="d-block text-center text-secondary">(C)2023.Footstep All rights reserved.</small>

{% endblock %}