<!-- 사이드 바 -->
<nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block bg-secondary collapse">
    <div class="position-sticky pt-3 navbar-nav-scroll" style="--bs-scroll-height: 90vh;" >
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'footstep:personal' owner.username %}">
                    <h3 class="text-center text-break">
                        {% if owner.profile.blogname %}
                        {{ owner.profile.blogname }}
                        {% else %}
                        {{ owner.username }}의 블로그
                        {% endif %}
                    </h3>
                </a>
            </li>
            <li class="nav-item m-1 p-1">
                <div class="nav-item text-white">
                    {% if owner.profile.nickname %}
                    {{ owner.profile.nickname }}
                    {% else %}
                    {{ owner.username }}
                    {% endif %}
                </div>
                <div class="nav-item text-white">{{ owner.email }}</div>
            </li>
            {% if owner.username == user.username %}
            <a class="btn btn-primary mx-1" href="{% url 'footstep:post_create' user.username %}">글쓰기</a>
            {% endif %}
            <hr class="text-white">
            <div class="input-group p-1">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="btn_search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
                <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
            </div>
            <form id="searchForm" method="get" action="{% url 'footstep:personal' owner.username %}">
                <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
                <input type="hidden" id="page" name="page" value="{{ page }}">
            </form>
            <li>
            {% if owner.sidebarcontent_set.all %}
                {% for i in owner.sidebarcontent_set.all %}
                <a class="nav-link text-white" href="{% url 'footstep:category' owner.username i.category_sub %}">
                    {{ i }} ({{ i.post_set.count }})
                </a>
                {% endfor %}
            {% else %}
                <span class="nav-link text-white">카테고리가 없습니다</span>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>
