<!-- 사이드 바 -->
<nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block bg-secondary collapse">
    <div class="position-sticky pt-3 navbar-nav-scroll" style="--bs-scroll-height: 90vh;" >
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'footstep:personal' owner.username %}">
                    <h3 class="text-center text-break">
                        {% if owner.profile.blogname %}
                        {{ owner.profile.blogname }}
                        {% else %}
                        {{ owner.username }}의 블로그
                        {% endif %}
                    </h3>
                </a>
            </li>
            <li class="nav-item m-1 p-1">
                <div class="nav-item text-white">
                    {% if owner.profile.nickname %}
                    {{ owner.profile.nickname }}
                    {% else %}
                    {{ owner.username }}
                    {% endif %}
                </div>
                <div class="nav-item text-white">{{ owner.email }}</div>
            </li>
            {% if owner.username == user.username %}
            <a class="btn btn-primary mx-1" href="{% url 'footstep:post_create' user.username %}">글쓰기</a>
            {% endif %}
            <hr class="text-white">
            <li>
            {% if owner.sidebarcontent_set.all %}
                {% for i in owner.sidebarcontent_set.all %}
                <a class="nav-link text-white" href="{% url 'footstep:category' owner.username i.category_sub %}">
                    {{ i }} ({{ i.post_set.count }})
                </a>
                {% endfor %}
            {% else %}
                <span class="nav-link text-white">카테고리가 없습니다</span>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>
